/** typography **/

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
    background: radial-gradient(circle at top, #b7eee2 , #a06fc7)
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0px;
}

hr {
  margin: 2rem orem;
}

.title {
  text-align: center;
  padding: 3rem;
  background-color: var(--light-color);
}

/** container **/

.container {
  padding: 0rem 1rem;
  padding-top: 4rem;
}

/** link **/

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

/** list **/

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/** section **/

.section {
  background-color: var(--dark-color);
  padding: 1rem;
}

img {
  max-width: 350px;
  display: block;
  margin: auto;
  image-resolution: 1080p;
}

/** footer **/

.footer {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: black;
}

.footer .link {
  color: black;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}

.footer .git-img {
  max-width: 2rem;
  display: inline;
  margin: auto;
}

.footer .linkedin-img {
  max-width: 2rem;
  display: inline;
  margin: auto;
}
